// -- little helper to make sure media is cover
%media-cover-image {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;

  object-fit: cover;

  width: 100%;
  height: 100%;
}

%media-cover {
  position: relative;
  overflow: hidden;

  > img {
    @extend %media-cover-image;
  }
}

%media-hover-scale {
  img {
    transition: transform .3s;
    transform: scale(1); // scale 1 by default
  }

  &:hover {
    img {
      transform: scale(1.1); // scale up by hover
    }
  }
}

// -- little helper to make sure image is 100% x auto in responsive elements
%responsive-image {
  width: 100% !important;
  height: auto !important;
}

// -- add helper classes to use media handling
.responsive-image {
  @extend %responsive-image;
}

.media-cover {
  @extend %media-cover;
}

.media-hover-scale {
  @extend %media-hover-scale;
}