%spacing-bottom {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width;
  }
}

%spacing-top {
  margin-top: 1rem;

   @include media-breakpoint-up(md) {
     margin-top: $grid-gutter-width;
   }
}

// -- generate gaps
@if ( $default-gaps ) {
  @each $name, $value in $default-gaps {
    .gap-#{$name} {
      gap: $value;
    }

    .row-gap-#{$name} {
      row-gap: $value;
    }

    .column-gap-#{$name} {
      column-gap: $value;
    }
  }
}