%spacing-bottom {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width;
  }
}

%spacing-top {
  margin-top: 1rem;

   @include media-breakpoint-up(md) {
     margin-top: $grid-gutter-width;
   }
}

// -- generate gaps
@if ( $default-gaps ) {
  @each $name, $value in $default-gaps {
    .gap-#{$name} {
      gap: $value;
    }

    .row-gap-#{$name} {
      row-gap: $value;
    }

    .column-gap-#{$name} {
      column-gap: $value;
    }
  }

  @each $breakpoint, $value in $grid-breakpoints {
    @if map-has-key($grid-breakpoints, $breakpoint) {
      @each $name, $value in $default-gaps {
        .gap-#{$breakpoint}-#{$name} {
          gap: $value;
        }

        .row-gap-#{$breakpoint}-#{$name} {
          row-gap: $value;
        }

        .column-gap-#{$breakpoint}-#{$name} {
          column-gap: $value;
        }
      }
    }
  }
}