%spacing-bottom {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width;
  }
}

%spacing-top {
  margin-top: 1rem;

   @include media-breakpoint-up(md) {
     margin-top: $grid-gutter-width;
   }
}