/***
 ** Define own variables in this file
 ***/

/**
 * Body
 */
$body-color-light: lighten($body-color, 15%) !default;

/**
 * Headlines
 */

// -- sizes ( maps for responsive )
$h1-font-sizes: (
        null: 1.25rem, // 20px
        sm: 1.5rem, // 24px
        md: 2rem, // 32px
        lg: $h1-font-size // 40px
) !default;

$h2-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h2-font-size // 32px
) !default;

$h3-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h3-font-size // 32px
) !default;

$h4-font-sizes: (
        null: 1rem, // 16px
        sm:   1.25rem, // 20px
        lg: $h4-font-size // 24px
) !default;

$h5-font-sizes: (
        null: 1rem, // 16px
        lg: $h5-font-size // 20px
) !default;

$h6-font-sizes: (
        null: $h6-font-size // 16px
) !default;

/**
 * Travelbox
 */

// -- travelbox break for Teaser1.php - breaks stripe teaser into normal teaser by breakpoint wich is set here
// -- you can set bootstrap breakpoint key or px value
$travel-box-use-break: true;
$travel-box-break: sm;