/***
 ** Define own variables in this file
 ***/

/**
 * Booking color set
 * ------------------------------
 * using bootstrap $success, $danger, $warning
 * to make sure to change those variables to
 * not have different colors in various elements.
 */
$booking-green: $success !default;
$booking-red: $danger !default;
$booking-orange: $warning !default;

/**
 * Body
 */
$body-color-light: lighten($body-color, 15%) !default;
$body-bg-highlight: $gray-200 !default;

/**
 * Text on image
 */
$text-on-image-color: #fff !default;
$text-on-image-shadow: 0 0 .5rem rgba(#000, .5) !default;

/**
 * Headlines
 */

// -- sizes ( maps for responsive )
$h1-font-sizes: (
        null: 1.25rem, // 20px
        sm: 1.5rem, // 24px
        md: 2rem, // 32px
        lg: $h1-font-size // 40px
) !default;

$h2-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h2-font-size // 32px
) !default;

$h3-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h3-font-size // 32px
) !default;

$h4-font-sizes: (
        null: 1rem, // 16px
        sm:   1.25rem, // 20px
        lg: $h4-font-size // 24px
) !default;

$h5-font-sizes: (
        null: 1rem, // 16px
        lg: $h5-font-size // 20px
) !default;

$h6-font-sizes: (
        null: $h6-font-size // 16px
) !default;

/**
 * Header
 * ---------------------------------------
 * some variables wich used for default header settings
 */

$header-use-default: true !default;

$header-bg: $body-bg !default;
$header-color: $body-color !default;
$header-sticky: true !default;
$header-small: true !default;
$header-box-shadow: 0 .125rem .25rem rgba(0,0,0,.15) !default;

// -- header action definitions
$header-action-width: 2rem !default; // 32px
$header-action-height: 2rem !default; // 32px;
$header-action-icon-width: 1.75rem !default; // 28px;
$header-action-icon-height: 1.75rem !default; // 28px;

$header-action-color: $body-color-light !default;
$header-action-hover-color: $primary !default;
$header-action-icon-color: $body-color-light !default;
$header-action-hover-icon-color: $primary !default;

$header-hotline-show-info: lg !default;
$header-hotline-color: $body-color !default;
$header-hotline-info-color: $header-action-color !default;
$header-hotline-hover-color: $primary !default;
$header-hotline-hover-info-color: $header-hotline-info-color !default;
$header-hotline-icon-color: $primary !default;
$header-hotline-hover-icon-color: $primary !default;

$header-wishlist-count-color: #fff !default;
$header-wishlist-count-bg: $primary !default;
$header-wishlist-count-size: 1rem !default; // 16px;
$header-wishlist-count-font-size: .6rem !default; // 10px

/**
 * Navigation
 * ---------------------------------
 * add some variables to extend bootstrap navbar
 */

$navbar-font-weight: $font-weight-base;
$navbar-active-font-weight: $font-weight-bold;


/**
 * Travelbox
 */

// -- travelbox break for Teaser1.php - breaks stripe teaser into normal teaser by breakpoint wich is set here
// -- you can set bootstrap breakpoint key or px value
$travel-box-use-break: true !default;
$travel-box-break: md !default;

/**
 * Custom form items
 * --------------------------------------------
 * defines various custom form items globally,
 * to change them without searching scss/overriding
 * it manually.
 */

// -- checkbox ( used for category tree checkboxes )

$custom-checkbox-gutter: .5rem !default; // defines spacing between label and input
$custom-checkbox-spacer: .25rem !default; // Defines spacing between 2 elements
$custom-checkbox-input-border-radius: $custom-checkbox-indicator-border-radius !default;
$custom-checkbox-input-size: $font-size-base !default; // little calculation to make it fitting to font size
$custom-checkbox-input-icon-size: $font-size-sm !default;
$custom-checkbox-input-bg: $custom-control-indicator-bg !default;
$custom-checkbox-input-border-width: $custom-control-indicator-border-width !default;
$custom-checkbox-input-border-color: $custom-control-indicator-border-color !default;
$custom-checkbox-input-icon-color: $white !default;

$custom-checkbox-input-hover-border-color: $primary !default;
$custom-checkbox-input-hover-bg: $custom-control-indicator-bg !default;
$custom-checkbox-input-hover-icon-color: $white !default;

$custom-checkbox-input-active-border-color: $primary !default;
$custom-checkbox-input-active-bg: $primary !default;
$custom-checkbox-input-active-icon-color: $white !default;



/**
 * Filter
 * --------------------------------------------
 * filter is using various bootstrap varialbes
 * for styling to make filter style change by
 * global bootstrap variables
 */
$filter-border-radius: $border-radius !default;
$filter-border-width: 0 !default;
$filter-border-color: black !default;
$filter-bg: $body-bg-highlight !default;
$filter-spacer-x: $card-spacer-x !default;
$filter-spacer-y: $card-spacer-y !default;

$filter-box-divider: true !default;
$filter-box-divider-width: 1px !default;
$filter-box-divider-color: $gray-300 !default;

$filter-mobile-view: true !default;
$filter-mobile-break: md !default;
$filter-mobile-view-type: 'modal' !default; // you can choose between 'apple-like' ( drop op ), 'modal' and 'offcanvas' it only changes filter wrapper style/animation in open-state


/**
 * Teasers
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */
$teaser-spacer-y: $card-spacer-y !default;
$teaser-spacer-x: $card-spacer-x !default;
$teaser-border-width: $card-border-width !default;
$teaser-border-radius: $card-border-radius !default;
$teaser-border-color: $card-border-color !default;
$teaser-bg: $card-bg !default;

/**
 * Price settings
 */
$price-small-color: $body-color !default;
$price-small-price-color: $headings-color !default;
$price-small-price-font-weight: $font-weight-bold !default;
$price-small-font-sizes: (
        null: $font-size-sm
) !default;
$price-small-price-font-sizes: (
        null: $font-size-base,
        lg: $font-size-lg
) !default;

/**
 * Category product teaser
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */
$teaser-category-product-spacer-y: .25rem !default;
$teaser-category-product-spacer-x: $card-spacer-x !default;
$teaser-category-product-border-width: $card-border-width !default;
$teaser-category-product-border-radius: $card-border-radius !default;
$teaser-category-product-border-color: $card-border-color !default;
$teaser-category-product-bg: $card-bg !default;

$teaser-category-product-travel-card-title-sizes: (
        null: 1rem, // 16px
) !default; // its similar to $h5-font-sizes

$teaser-category-product-body-sizes: (
        null: $font-size-sm,
        lg: $font-size-base
) !default;


$teaser-category-product-travel-card-title-color: $headings-color;
$teaser-category-product-travel-card-title-hover-color: $primary;
$teaser-category-product-travel-card-title-active-color: $primary;

/**
 * Travel cards
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */

$travel-card-spacer-y: $card-spacer-y !default;
$travel-card-spacer-x: $card-spacer-x !default;
$travel-card-border-width: $card-border-width !default;
$travel-card-border-radius: $card-border-radius !default;
$travel-card-border-color: $card-border-color !default;
$travel-card-bg: $card-bg !default;

$travel-card-badge-pill: false !default;

$travel-card-body-sizes: (
  null: $font-size-sm,
  lg: $font-size-base
) !default;

$travel-card-title-color: $headings-color;
$travel-card-title-hover-color: $primary;
$travel-card-title-active-color: $primary;

$travel-card-title-sizes: (
        null: 1rem, // 16px
        lg: $h5-font-size // 20px
) !default; // its similar to $h5-font-sizes

/**
 * Add to wishlist
 * ----------------------------
 * set colors on image / default
 */

$add-to-wishlist-size: 2rem !default; // 32px for touch events
$add-to-wishlist-icon-size: 1.5rem !default; // 24px for good seeable icon

$add-to-wishlist-color: $body-color !default;
$add-to-wishlist-hover-color: $primary !default;
$add-to-wishlist-active-color: $primary !default;

$add-to-wishlist-on-image-color: #fff !default;
$add-to-wishlist-on-image-hover-color: rgba(#fff, .75) !default;
$add-to-wishlist-on-image-active-color: #fff !default;