/***
 ** Define own variables in this file
 ***/

/**
 * Booking color set
 * ------------------------------
 * using bootstrap $success, $danger, $warning
 * to make sure to change those variables to
 * not have different colors in various elements.
 */
$booking-green: $success !default;
$booking-red: $danger !default;
$booking-orange: $warning !default;

/**
 * Body
 */
$body-color-light: lighten($body-color, 15%) !default;
$body-bg-highlight: $gray-200 !default;

/**
 * Headlines
 */

// -- sizes ( maps for responsive )
$h1-font-sizes: (
        null: 1.25rem, // 20px
        sm: 1.5rem, // 24px
        md: 2rem, // 32px
        lg: $h1-font-size // 40px
) !default;

$h2-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h2-font-size // 32px
) !default;

$h3-font-sizes: (
        null: 1.125rem, // 18px
        sm:   1.25rem, // 20px
        md: 1.5rem, // 24px
        lg: $h3-font-size // 32px
) !default;

$h4-font-sizes: (
        null: 1rem, // 16px
        sm:   1.25rem, // 20px
        lg: $h4-font-size // 24px
) !default;

$h5-font-sizes: (
        null: 1rem, // 16px
        lg: $h5-font-size // 20px
) !default;

$h6-font-sizes: (
        null: $h6-font-size // 16px
) !default;

/**
 * Travelbox
 */

// -- travelbox break for Teaser1.php - breaks stripe teaser into normal teaser by breakpoint wich is set here
// -- you can set bootstrap breakpoint key or px value
$travel-box-use-break: true !default;
$travel-box-break: md !default;


/**
 * Teasers
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */
$teaser-spacer-y: $card-spacer-y !default;
$teaser-spacer-x: $card-spacer-x !default;
$teaser-border-width: $card-border-width !default;
$teaser-border-radius: $card-border-radius !default;
$teaser-border-color: $card-border-color !default;
$teaser-bg: $card-bg !default;

/**
 * Category product teaser
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */
$teaser-category-product-spacer-y: $card-spacer-y !default;
$teaser-category-product-spacer-x: $card-spacer-x !default;
$teaser-category-product-border-width: $card-border-width !default;
$teaser-category-product-border-radius: $card-border-radius !default;
$teaser-category-product-border-color: $card-border-color !default;
$teaser-category-product-bg: $card-bg !default;

/**
 * Travel cards
 * --------------------------------------------
 * useing bootstrap card variables by default,
 * you can change global card styles by overriting
 * card variables ( see defined values ) or
 * you can change the style of this values
 * to make travel cards different from default
 * cards.
 */

$travel-card-spacer-y: $card-spacer-y !default;
$travel-card-spacer-x: $card-spacer-x !default;
$travel-card-border-width: $card-border-width !default;
$travel-card-border-radius: $card-border-radius !default;
$travel-card-border-color: $card-border-color !default;
$travel-card-bg: $card-bg !default;

$travel-card-badge-pill: false !default;

$travel-card-body-sizes: (
  null: $font-size-sm,
  lg: $font-size-base
) !default;

$travel-card-title-color: $headings-color;
$travel-card-title-hover-color: $primary;
$travel-card-title-active-color: $primary;

$travel-card-title-sizes: (
        null: 1rem, // 16px
        lg: $h5-font-size // 20px
) !default; // its similar to $h5-font-sizes

/**
 * Add to wishlist
 * ----------------------------
 * set colors on image / default
 */

$add-to-wishlist-size: 2rem !default; // 32px for touch events
$add-to-wishlist-icon-size: 1.5rem !default; // 24px for good seeable icon

$add-to-wishlist-color: $body-color !default;
$add-to-wishlist-hover-color: $primary !default;
$add-to-wishlist-active-color: $primary !default;

$add-to-wishlist-on-image-color: #fff !default;
$add-to-wishlist-on-image-hover-color: rgba(#fff, .75) !default;
$add-to-wishlist-on-image-active-color: #fff !default;