// -- is used in every file wich is for detail page, so u can "deactivate" and use own stylings
@if ( $detail-page-use-default == true ) {
  .detail-header-gallery {
    position: relative;

    .detail-header-badge {
      @extend %product-badge;
      @extend %product-badge-danger;

      position: absolute;
      z-index: 2;

      @include spacing-generator($detail-header-gallery-spacer-x, 'around', top);
      @include spacing-generator($detail-header-gallery-spacer-x, 'around', left);
    }

    .detail-header-gallery-slider {
      display: none;
    }

    @if ( $detail-header-gallery-mobile-break != null ) {
      @include media-breakpoint-down($detail-header-gallery-mobile-break) {
        .detail-header-gallery-slider {
          display: block;
        }

        .detail-header-gallery-grid {
          display: none;
        }
      }
    }

  }
}