.detail-booking-entrypoint{
  background-color: $booking-entrypoint-bg;
  color: $booking-entrypoint-color;

  @if ( $booking-entrypoint-border-width != 0 ) {
    border: $booking-entrypoint-border-width solid $booking-entrypoint-border-color;
  }

  @include border-radius($booking-entrypoint-border-radius);
  @include font-size-generator($booking-entrypoint-font-sizes);
  @include spacing-generator($booking-entrypoint-spacers-x, 'around', 'padding');

  // -- filters
  .booking-filter {
    .booking-filter-item {

      // -- transport type
      &.booking-filter-item--transport-type {
        @include spacing-generator($booking-entrypoint-spacers-y, 'bottom', 'padding');

        .booking-filter-radio {
          @extend %custom-radio-checkbox-inline;

          .form-radio {
            @extend %custom-radio;
          }
        }
      }

      // -- daterange
      &.booking-filter-item--date-range {
        button.booking-filter-field--date-range {
          @extend .form-control;
          @extend %input-has-icon;

          text-align: left;

          .booking-filter-field--icon {
            @extend %input-icon;
          }
        }
      }
    }

    // -- boxed items
    .booking-filter-items-boxed {
      @include border-radius($input-border-radius);
      border: $input-border-width solid $input-border-color;

      .booking-filter-item + .booking-filter-item {
        border-top: $input-border-width solid $input-border-color;
      }

      // -- little changes to make booking entrypoint "unique"
      .booking-filter-item {
        button.booking-filter-field--date-range,
        button.select-form-control {
          padding: .5rem 1rem;
          border: 2px solid transparent;
          background-color: transparent;

          &:hover, &:focus, &:active {
            background-color: transparent;
            border: 2px solid $body-color;
          }
        }
      }
    }
  }
}