.detail-booking-entrypoint{
  background-color: $booking-entrypoint-bg;
  color: $booking-entrypoint-color;

  @if ( $booking-entrypoint-border-width != 0 ) {
    border: $booking-entrypoint-border-width solid $booking-entrypoint-border-color;
  }

  @include border-radius($booking-entrypoint-border-radius);
  @include font-size-generator($booking-entrypoint-font-sizes);
  @include spacing-generator($booking-entrypoint-spacers-x, 'around', 'padding');

  @include get-element-shadow('booking-entry-point');

  // -- filters
  .booking-filter {


    @include spacing-generator($booking-entrypoint-spacers-y, 'bottom', 'padding');

    .booking-filter-item {

      // -- transport type
      &.booking-filter-item--transport-type {
        @include spacing-generator($booking-entrypoint-spacers-y, 'bottom', 'padding');

        .booking-filter-radio {
          @extend %custom-radio-checkbox-inline;

          .form-radio {
            @extend %custom-radio;
          }
        }
      }

      // -- daterange
      &.booking-filter-item--date-range {
        position: relative;

        button.booking-filter-field--date-range {
          @extend .form-control;
          @extend %input-has-icon;

          text-align: left;

          .booking-filter-field--counter {
            position: absolute;
            top: 50%;
            right: .75rem;

            transform: translateY(-50%);
            color: rgba($input-color, .5);
          }

          .booking-filter-field--icon {
            @extend %input-icon;
          }
        }
      }
    }

    // -- boxed items
    .booking-filter-items-boxed {
      @include border-radius($input-border-radius);
      border: $input-border-width solid $input-border-color;

      .booking-filter-item + .booking-filter-item {
        border-top: $input-border-width solid $input-border-color;
      }

      // -- little changes to make booking entrypoint "unique"
      .booking-filter-item {

        margin-top: -$input-border-width;
        margin-left: -$input-border-width;
        margin-right: -$input-border-width;

        button.booking-filter-field--date-range,
        button.select-form-control {
          padding: .75rem 1rem .75rem ( 1rem + .5rem + $custom-input-icon-size );
          border: 2px solid transparent;
          background-color: transparent;
          height: auto;

          small {
            font-size: $font-size-sm;
            color: rgba($input-color, .5);
            line-height: 1;
          }

          .dropdown-icon,
          .booking-filter-field--icon {
            left: 1rem;
            @extend %input-icon-top;

            top: .75rem;
          }

          .input-clear {
            right: 1rem;
          }

          &:hover, &:focus, &:active {
            background-color: transparent;
            border: 2px solid $body-color;
            box-shadow: none;
            outline: none;
          }
        }

        &.open > button.booking-filter-field--date-range {
          background-color: transparent;
          border: 2px solid $body-color;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}