// -- pricebox + booking action box
.price-box, .booking-action {
  position: relative;

  @include font-size-generator($booking-entrypoint-font-sizes);

  // state-checkmark
  .state-check {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $booking-gray;
    color: $booking-gray-color;

    @include border-radius(50%);

    position:absolute;
    right:0;

    @include spacing-generator($booking-entrypoint-spacers-x, 'around', 'top');


    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &-success {
      background-color: $booking-green;
      color: $booking-green-color;
    }

    > svg {
      width: $font-size-base;
      height: $font-size-base;
    }
  }

  // -- info rows
  .price-box-row, .booking-action-row  {
    .price-box-icon-item,
    .booking-action-icon-item {
      position: relative;
      padding-left: $font-size-lg + .5rem;

      small {
        display: block;
        color: $body-color-light;
      }

      > svg {
        width: $font-size-lg;
        height: $font-size-lg;

        position: absolute;

        transform: translateY(-50%);
        left: 0;

        // positioning right way by font sizes set in map
        @each $breakpoint, $value in $booking-entrypoint-font-sizes {
          @if $breakpoint == null {
            top: ( (pxToRem($value) * $line-height-base) / 2);
          }
          @else {
            @if map-has-key($grid-breakpoints, $breakpoint) {
              @media ( min-width: map-get($grid-breakpoints, $breakpoint) ) {
                top: ( (pxToRem($value) * $line-height-base) / 2);
              }
            } @else {
              @media ( min-width: $breakpoint ) {
                top: ( (pxToRem($value) * $line-height-base) / 2);
              }
            }
          }
        }
      }
    }

    + .price-box-row,
    + .booking-action-row {
      @include spacing-generator($detail-header-info-spacers-items, 'top', margin);
    }
  }

  // -- price-total
  .price-box-discount {
    .price-total {
      @extend %price-default;

      margin-right: auto;
    }

    .discount-wrapper--inner {
      align-items: baseline;
    }
  }
}

// -- price box custom styles
.price-box {
  @include spacing-generator($booking-entrypoint-spacers-x, 'top', 'padding');

  @if ( $booking-entrypoint-border-width != 0 ) {
    @include spacing-generator($booking-entrypoint-spacers-x, 'top', 'margin');
    border-top: $booking-entrypoint-border-width solid $booking-entrypoint-border-color;
  }
}