.detail-box {
  @include spacing-generator($detail-box-spacers-y, 'top', 'margin');
  @include spacing-generator($detail-box-spacers-y, 'y', 'padding');

  color: $detail-box-color;

  @include font-size-generator($detail-box-font-sizes);

  .detail-box-title{
    @include spacing-generator($detail-box-spacers-y, 'bottom', 'margin');
  }

  // -- if not transparent
  &:not(.detail-box-transparent) {
    @include border-radius($detail-box-border-radius);
    @include spacing-generator($detail-box-spacers-x, 'around', 'padding');

    background-color: $detail-box-bg;

    // -- box shadows
    &:not(.detail-box-trust):not(.detail-box-services):not(.detail-box-contact) {
      @include get-element-shadow('detail-box');
    }

    // -- specific shadows for predefined types
    &.detail-box-trust {
      @include get-element-shadow('detail-box-trust');
    }
    &.detail-box-contact {
      @include get-element-shadow('detail-box-contact');
    }
    &.detail-box-services {
      @include get-element-shadow('detail-box-services');
    }

    @if ( $detail-box-border-width > 0 ) {
      border: $detail-box-border-width solid $detail-box-border-color;
    }
  }

  // -- theming
  &.detail-box-success:not(.detail-box-transparent) {
    background-color: $detail-box-success-bg;
    border-color: $detail-box-success-border-color;
    color: $detail-box-success-color;
  }

  &.detail-box-light:not(.detail-box-transparent) {
    background-color: $detail-box-light-bg;
    border-color: $detail-box-light-border-color;
    color: $detail-box-light-color;
  }
}