// -- is used in every file wich is for detail page, so u can "deactivate" and use own stylings
@if ( $detail-page-use-default == true ) {
  .detail-header-info {
    background-color: $detail-header-info-bg;
    overflow: hidden;

    @if ( $detail-header-info-border-width != 0 ) {
      border: $detail-header-info-border-width solid $detail-header-info-border-color;
    }

    @include border-radius($detail-header-info-border-radius);
    @include font-size-generator($detail-header-info-font-sizes);

    .detail-header-info-top,
    .detail-header-info-bottom {
      @include spacing-generator($detail-header-info-spacers-x, 'around', 'padding');
    }

    .detail-header-info-top {

      .detail-header-info-top-attributes{
        margin-bottom: .25rem;

        @include media-breakpoint-up(lg) {
          margin-bottom: .5rem;
        }

        > a {
          color: $body-color-light;
          transition: color .3s;
          text-decoration: none;

          &:hover, &:focus, &:active {
            color: $body-color;
          }

          &:hover {
            text-decoration: none;
          }

          &:active, &:focus {
            text-decoration: underline;
          }
        }
      }

      h2 {
        @include font-size-generator($detail-header-info-headline-sizes);
        margin-bottom: .5rem;

        @include media-breakpoint-up(lg) {
          margin-bottom: 1rem;
        }
      }

      ul, p {
        margin: 0;

        + ul,
        + p {
          margin: .5rem 0 0 0;

          @include media-breakpoint-up(lg) {
            margin: 1rem 0 0 0;
          }
        }
      }
    }

    .detail-header-info-bottom {
      @if ( $detail-header-info-bottom-divider-width == 0 and $detail-header-info-bg == $detail-header-info-bottom-bg ) {
        padding-top: 0 !important;
      }

      @if ( $detail-header-info-bottom-divider-width != 0 ) {
        border-top: $detail-header-info-bottom-divider-width solid $detail-header-info-bottom-divider-color;
      }

      background-color: $detail-header-info-bottom-bg;

      // -- chosen date
      .detail-header-info-chosen-date {
        @include border-radius($detail-header-info-chosen-date-border-radius);
        background-color: $detail-header-info-chosen-date-bg;
        color: $detail-header-info-chosen-date-color;

        @if ( $detail-header-info-chosen-date-border-width != 0 ) {
          border-width: $detail-header-info-chosen-date-border-width;
          border-style: solid;
          border-color: $detail-header-info-chosen-date-border-color;
        }

        padding: $detail-header-info-chosen-date-spacer-y $detail-header-info-chosen-date-spacer-x;
        transition: color .3s, border-color .3s, background-color .3s;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        gap: $detail-header-info-chosen-date-spacer-x;
        margin: 0 0 .5rem 0;

        @include media-breakpoint-up(lg) {
          margin: 0 0 1rem 0;
        }

        .detail-header-info-chosen-date-icon {
          svg {
            width: $font-size-xl;
            height: $font-size-xl;
          }
        }

        .detail-header-info-chosen-date-info {
          position: relative;
          padding-right: 2rem;

          flex: 1;

          // -- edit
          button.detail-header-info-chosen-date-edit {
            @include button-reset();

            position: absolute;

            cursor: pointer;

            width: 2rem; // 2 rem cuz touch actions need 32 px at least
            height: 2rem;

            display: flex;
            align-items: center;
            justify-content: center;

            color: $body-color-light;
            transition: color .3s;

            top: -((2rem - $font-size-lg) / 2);
            right: -((2rem - $font-size-lg) / 2);

            > svg {
              width: $font-size-lg;
              height: $font-size-lg;
            }

            &:hover, &:focus, &:active {
              color: $primary;
            }
          }

          // -- data
          .detail-header-info-chosen-date-data {
            .small-title {
              color: rgba($detail-header-info-chosen-date-color, .5);
              font-size: $font-size-sm;
            }
          }
        }

        &:hover {
          border-color: $detail-header-info-chosen-date-hover-border-color;
          background-color: $detail-header-info-chosen-date-hover-bg;
          color: $detail-header-info-chosen-date-hover-color;
        }

        &:active, &:focus {
          border-color: $detail-header-info-chosen-date-hover-border-color;
          background-color: $detail-header-info-chosen-date-hover-bg;
          color: $detail-header-info-chosen-date-hover-color;
        }
      }

      // -- status
      .detail-header-info-status{
        margin-bottom: .5rem;
        margin-top: -.75rem;

        @include media-breakpoint-up(lg) {
          margin-bottom: 1rem;
          margin-top: -1.25rem;
        }

        .status {
          @include border-bottom-radius($detail-header-info-chosen-date-border-radius);

          padding: .25rem $grid-gutter-width;
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;

          color: #fff;
          background-color: $booking-orange;

          text-align: center;

          &.danger {
            background-color: $booking-red;
          }
        }
      }

    }
  }
}