// -- is used in every file wich is for detail page, so u can "deactivate" and use own stylings
@if ( $detail-page-use-default == true ) {
  .booking-entrypoint-calendar {
    opacity: 1;
    transition: opacity .3s;
    pointer-events: auto;

    // -- duration switch
    .booking-entrypoint-calender-duration {
      // - duration switch
      display: flex;
      justify-content: space-between;
      justify-content: center;

      .duration-switch {
        background-color: $body-bg-highlight;
        padding: .25rem;

        @include border-radius($border-radius);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        gap: .25rem;

        > button {
          @include button-reset();

          color: $body-color-light;
          font-size: $font-size-base;
          padding: 0.6125rem 1.125rem;
          line-height: 1;

          @include border-radius(($border-radius - .25rem));

          transition: background-color .3s, color .3s, transform .3s;

          &.active, &:hover, &:focus, &:active {
            color: $body-color;
          }

          &:hover, &:active, &:focus {
            background-color: rgba(#fff, .5);
          }

          &:active {
            transform: scale(0.95);
          }

          &.active {
            background-color: #fff;
            color: $body-color;
            font-weight: $font-weight-bold;
          }
        }
      }
    }

    // -- calendar itself
    .booking-entrypoint-calendar-outer {
      display: flex;
      justify-content: center;

      .booking-entrypoint-calendar-inner {

        // -- calendar item
        .calendar-item {

          // -- month name
          .calendar-item-month {
            margin: 0;
            text-align: center;
            padding: 1rem 0;
          }

          // -- calendar days
          .calendar-item-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 100%;
            max-width: ( 2.5rem * 7 ); // 40px * 7 days

            > div.calendar-item-day {
              flex: 0 0 2.5rem;
              width: 100%;
              max-width: 2.5rem;
              height: 2.5rem;

              // center inner
              display: flex;
              justify-content: center;
              padding-top: .325rem;
              padding-bottom: .25rem;

              &:not(.calendar-item-weekday) {
                line-height: 1;

                margin-top: .125rem; // spacer 2 px
              }
            }

            > div.calendar-item-weekday {
              color: rgba($body-color, .5);
              font-weight: $font-weight-bold;
              font-size: $font-size-sm;
              height: 1rem;

              padding: 0;
              margin: 0 0 .5rem 0;
            }

            // -- travel date
            > div.calendar-item-day.travel-date {
              > a {
                width: 2.5rem;
                height: 2.5rem;

                display: block;

                position: absolute;
                top:0;
                left:0;
                right:0;

                padding-top: .325rem;
                padding-bottom: .25rem;

                text-align: center;
                font-weight: $font-weight-bold;

                text-decoration: none;
                transition: background-color .3s;

                &:hover, &:focus, &:active {
                  text-decoration: none;
                }

                > div {
                  font-weight: 400;
                  font-size: .6125rem;
                }

                @include border-radius(50%);
              }

              // -- states
              &.bookable {
                > a {
                  background-color: $booking-green;
                  color: $booking-green-color;

                  &:hover {
                    background-color: lighten($booking-green, 15%);
                  }
                }
              }

              &.request {
                > a {
                  background-color: $booking-orange;
                  color: $booking-orange-color;

                  &:hover {
                    background-color: lighten($booking-orange, 15%);
                  }
                }
              }

              &.stop {
                > a {
                  background-color: rgba($booking-gray, .5);
                  color: $booking-gray-color;

                  &:hover {
                    background-color: rgba($booking-gray, .75);
                  }
                }
              }


            }
          }
        }

        // -- if not slider
        &:not(.tns-slider) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          margin: 0 ( -$grid-gutter-width / 4 );
          overflow: hidden;

          max-width: ( ( ($grid-gutter-width / 2) + ( remToPx(2.5rem) * 7 ) ) * 2 ) ;

          > .calendar-item {
            padding: 0 ( $grid-gutter-width / 4 );

            // @todo: add colum sizes later? bzw. add mobile break
            width: 100%;

            // do something to prevent to wide calendar
            flex: 0 0 ( ($grid-gutter-width / 2) + (remToPx(2.5rem) * 7) );
            max-width: ( ($grid-gutter-width / 2) + (remToPx(2.5rem) * 7) );
          }
        }
      }
    }
  }

  .is-loading {
    > .booking-entrypoint-calendar {
      opacity: 0;
      pointer-events: none;
    }
  }
}