// -- is used in every file wich is for detail page, so u can "deactivate" and use own stylings
@if ( $detail-page-use-default == true ) {
  .booking-entrypoint-calendar {
    opacity: 1;
    transition: opacity .3s;
    pointer-events: auto;

    // -- duration switch
    .booking-entrypoint-calender-duration {

    }

    // -- calendar itself
    .booking-entrypoint-calendar-outer {
      .booking-entrypoint-calendar-inner {

        // -- calendar item
        .calendar-item {

          // -- month name
          .calendar-item-month {
            margin: 0;
            text-align: center;
            padding: 1rem 0;
          }

          // -- calendar days
          .calendar-item-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 100%;
            max-width: ( 2.5rem * 7 ); // 40px * 7 days

            > div.calendar-item-day {
              flex: 0 0 2.5rem;
              width: 100%;
              max-width: 2.5rem;
              height: 2.5rem;

              // center inner
              display: flex;
              justify-content: center;
              padding-top: .25rem;
              padding-bottom: .25rem;
            }

            > div.calendar-item-weekday {
              color: rgba($body-color, .5);
              font-weight: $font-weight-bold;
              font-size: $font-size-sm;
              height: 1rem;
            }
          }
        }

        // -- if not slider
        &:not(.tns-slider) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;

          margin: 0 ( -$grid-gutter-width / 4 );
          overflow: hidden;

          > .calendar-item {
            padding: 0 ( $grid-gutter-width / 4 );

            // @todo: add colum sizes later? bzw. add mobile break
            width: 100%;

            // do something to prevent to wide calendar
            flex: 0 0 ( ($grid-gutter-width / 2) + (remToPx(2.5rem) * 7) );
            max-width: ( ($grid-gutter-width / 2) + (remToPx(2.5rem) * 7) );
          }
        }
      }
    }
  }

  .is-loading {
    > .booking-entrypoint-calendar {
      opacity: 0;
      pointer-events: none;
    }
  }
}