.detail-booking-entrypoint{
  background-color: $booking-entrypoint-bg;
  color: $booking-entrypoint-color;

  @if ( $booking-entrypoint-border-width != 0 ) {
    border: $booking-entrypoint-border-width solid $booking-entrypoint-border-color;
  }

  @include border-radius($booking-entrypoint-border-radius);
  @include font-size-generator($booking-entrypoint-font-sizes);
  @include spacing-generator($booking-entrypoint-spacers-x, 'around', 'padding');

  // -- filters
  .booking-filter {
    .booking-filter-item {

      &.booking-filter-item--transport-type {
        @include spacing-generator($booking-entrypoint-spacers-y, 'bottom', 'padding');

        .booking-filter-radio {
          @extend %custom-radio-checkbox-inline;

          .form-radio {
            @extend %custom-radio;
          }
        }
      }
    }
  }
}