/***
 ** Overwrite bootstrap variables in this file.
 ***/


/**
 * Headlines
 */
$h1-font-size: 2.5rem; //$font-size-base * 2.5 !default;
$h2-font-size: 2rem; // $font-size-base * 2 !default;
$h3-font-size: 1.75rem; //$font-size-base * 1.75 !default;
$h4-font-size: 1.5rem; //$font-size-base * 1.5 !default;
$h5-font-size: 1.25rem; //$font-size-base * 1.25 !default;
$h6-font-size: 1rem; // !default;

$headings-margin-bottom: $spacer; // 1rem;