/**
 * Booking button
 */

.btn {
  display: flex;
  flex-direction: row;
  gap: .25rem;

  .loader {
    width: 25px;
    display: none;
  }

  > svg {
    width: $btn-font-size;
    height: $btn-font-size;
  }

  &.btn-block {
    justify-content: center;
  }
}

.btn.booking-btn,
.booking-btn {
  &.green {
    @include button-variant($booking-green, $booking-green, lighten($booking-green, 15%), lighten($booking-green, 15%), darken($booking-green, 10%), darken($booking-green, 10%));
  }
  &.red {
    @include button-variant($booking-red, $booking-red, lighten($booking-red, 15%), lighten($booking-red, 15%), darken($booking-red, 10%), darken($booking-red, 10%));
  }
  &.orange {
    @include button-variant($booking-orange, $booking-orange, lighten($booking-orange, 15%), lighten($booking-orange, 15%), darken($booking-orange, 10%), darken($booking-orange, 10%));
  }
  &.gray {
    @include button-variant($gray-900, $gray-900, $gray-700, $gray-700, $gray-900, $gray-900);
  }
}