/**
 * Styling for category product teaser
 */
.teaser.category-product-teaser {
  @include border-radius($teaser-category-product-border-radius);
  background-color: $teaser-category-product-bg;
  border: $teaser-category-product-border-width solid $teaser-category-product-border-color;

  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width;
  }

  // -- top element
  .teaser-category-image {
    > a {
      display: block;
      color: inherit;
      text-decoration: none;
      position: relative;

      @if $teaser-category-product-border-width != 0 {
        margin-left: -$teaser-category-product-border-width;
        margin-top: -$teaser-category-product-border-width;
        margin-bottom: 0;
        margin-right: -$teaser-category-product-border-width;
      }

      .teaser-image {
        @include border-top-radius($teaser-category-product-border-radius);
        @include aspect-ratio(16, 10);

        overflow: hidden;

        @extend %media-cover;
      }

      .teaser-body {
        padding: $teaser-category-product-spacer-x;

        position: absolute;
        bottom:0;
        left:0;
        right:0;

        z-index: 2;

        .teaser-title {
          margin: 0;

          @extend %text-on-image;
        }
      }

      // - reset link behaviour to prevent unwondated underlines by hovering block link
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
}