.content-block-category-header.content-block {

  // basic styles
  .category-header {
    position: relative;


    // media
    .category-header-media {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

      > div.media {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
      }
    }

    // content
    .category-header-content-wrapper {
      position: relative;
      z-index: 5;

      min-height: $category-header-min-height;

      .category-header-content-container {
        @include spacing-generator($category-header-spacing-x, 'y', 'padding');

        height: 100%;

        &.category-header-content-container-widths {
          @include make-container();
          @include make-container-max-widths();
        }

        > .d-flex {
          height: 100%;
        }

        // box
        .category-header-content {
          @include get-element-shadow('category-header-content-box');
          background-color: $category-header-box-bg;

          @include border-radius($category-header-box-border-radius);
          @include spacing-generator($category-header-box-paddings, 'around', 'padding');


          @include media-breakpoint-up(md) {
            max-width: $category-header-box-max-width;
          }
        }
      }
    }
  }

}