.content-block-category-header.content-block {

  // basic styles
  .category-header {
    position: relative;


    // media
    .category-header-media {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

      > div.media {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
      }
    }

    // content
    .category-header-content-wrapper {
      display: flex;
      height: 100%;

      position: relative;
      z-index: 5;

      min-height: $category-header-min-height;

      @include spacing-generator($category-header-spacing-x, 'y', 'padding');

      .category-header-content-container {
        height: 100%;
        justify-self: center;


        &.category-header-content-container-widths {
          @include make-container();
          @include make-container-max-widths();
        }

        > .d-flex {
          height: 100%;
        }
      }
    }
  }

}