.dropdown-menu.dropdown-menu-select {
  padding: 1rem;

  .category-tree-field-items {
    padding: 0;

    overflow-y: auto;
    max-height: 21rem;

    .form-check {
      @extend %custom-checkbox;

      + .form-check {
        margin-top: $custom-checkbox-spacer;
      }
    }
  }

  .btn.filter-prompt {
    font-size: $font-size-sm;
    white-space: nowrap;
  }

}