.dropdown-menu.dropdown-menu-select {
  padding: 1rem;

  width: 100%;
  min-width: 16rem;

  .category-tree-field-items {
    padding: 0 1rem;
    margin: 0 -1rem;

    overflow-y: auto;
    max-height: 21rem;

    .form-check {
      @extend %custom-checkbox;

      + .form-check {
        margin-top: $custom-checkbox-spacer;
      }

      @if ( $category-dropdown-modal == true ) {
        @if ( $category-dropdown-mobile-break != null ) {
          @extend %custom-checkbox-large-up-#{getNextBreakpoint($category-dropdown-mobile-break)};

          @include media-breakpoint-up(getNextBreakpoint($category-dropdown-mobile-break)) {
            + .form-check {
              margin-top: $custom-checkbox-large-spacer;
            }
          }
        } @else {
          @extend %custom-checkbox-large;

          + .form-check {
            margin-top: $custom-checkbox-large-spacer;
          }
        }
      }

      @if ( $category-dropdown-mobile-break != null ) {
        @extend %custom-checkbox-large-down-#{$category-dropdown-mobile-break};

        @include media-breakpoint-down($category-dropdown-mobile-break) {
          + .form-check {
            margin-top: $custom-checkbox-large-spacer;
          }
        }
      }
    }
  }

  .btn.filter-prompt {
    font-size: $font-size-sm;
    white-space: nowrap;
  }

  // -- desktop modal view
  @if ( $category-dropdown-modal == true ) {
    $temp-category-dropdown-modal-string: '';

    @if ( $category-dropdown-mobile-break != null ) {
      $temp-category-dropdown-modal-string: '-up-#{getNextBreakpoint($category-dropdown-mobile-break)}';
    }

    @extend %modal-wrapper#{$temp-category-dropdown-modal-string};

    .dropdown-menu-inner {
      @extend %modal-inner#{$temp-category-dropdown-modal-string};

      @if ( $category-dropdown-mobile-break != null ) {
        @include media-breakpoint-up(getNextBreakpoint($category-dropdown-mobile-break)) {
          max-width: #{getMediaBreakpointUp($category-dropdown-modal-max-width)};
        }
      } @else {
        @extend %modal-inner-width-#{$category-dropdown-modal-max-width};
      }


      .dropdown-menu-content {
        @extend %modal-content#{$temp-category-dropdown-modal-string};
      }
    }

    .dropdown-menu-header {
      @extend %modal-header#{$temp-category-dropdown-modal-string};
    }

    .category-tree-field-items {
      @extend %modal-body#{$temp-category-dropdown-modal-string};
    }

    .dropdown-menu-footer {
      @extend %modal-footer#{$temp-category-dropdown-modal-string};
    }

    // -- open state
    &.show {
      @extend %modal-open#{$temp-category-dropdown-modal-string};
    }
  }

  // -- mobile friendly views
  @if ( $category-dropdown-mobile-break != null ) {

    // -- modal view
    @if ( $category-dropdown-mobile-view-type == 'modal' or $category-dropdown-mobile-view-type == 'modal-fullscreen' ) {
      @extend %modal-wrapper-down-#{$category-dropdown-mobile-break};

      @if ( $category-dropdown-mobile-view-type == 'modal-fullscreen' ) {
        @extend %modal-wrapper-fullscreen-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-inner {
        @extend %modal-inner-down-#{$category-dropdown-mobile-break};


        @if ( $category-dropdown-mobile-view-type == 'modal-fullscreen' ) {
          @extend %modal-inner-fullscreen-down-#{$category-dropdown-mobile-break};
        }

        .dropdown-menu-content {
          @extend %modal-content-down-#{$category-dropdown-mobile-break};

          @if ( $category-dropdown-mobile-view-type == 'modal-fullscreen' ) {
            @extend %modal-content-fullscreen-down-#{$category-dropdown-mobile-break};
          }
        }
      }

      .dropdown-menu-header {
        @extend %modal-header-down-#{$category-dropdown-mobile-break};
      }

      .category-tree-field-items {
        @extend %modal-body-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-footer {
        @extend %modal-footer-down-#{$category-dropdown-mobile-break};
      }

      // -- open state
      &.show {
        @extend %modal-open-down-#{$category-dropdown-mobile-break};
      }
    }



    // -- apple-like view
    @if ( $category-dropdown-mobile-view-type == 'apple-like' ) {
      @extend %apple-like-wrapper-down-#{$category-dropdown-mobile-break};

      .dropdown-menu-content {
        @extend %apple-like-content-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-header {
        @extend %apple-like-header-down-#{$category-dropdown-mobile-break};
      }

      .category-tree-field-items {
        @extend %apple-like-body-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-footer {
        margin-top: 0;
        @extend %apple-like-footer-down-#{$category-dropdown-mobile-break};
      }

      // -- open state
      &.show {
        @extend %apple-like-open-down-#{$category-dropdown-mobile-break};

        .dropdown-menu-content {
          @extend %apple-like-content-open-down-#{$category-dropdown-mobile-break};
        }
      }

    }

    // -- offcanvas view
    @if ( $category-dropdown-mobile-view-type == 'offcanvas' ) {
      @extend %offcanvas-wrapper-down-#{$category-dropdown-mobile-break};

      .dropdown-menu-content {
        @extend %offcanvas-content-down-#{$category-dropdown-mobile-break};
        @extend %offcanvas-direction-#{$category-dropdown-offcanvas-direction}-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-header {
        @extend %offcanvas-header-down-#{$category-dropdown-mobile-break};
      }

      .category-tree-field-items {
        @extend %offcanvas-body-down-#{$category-dropdown-mobile-break};
      }

      .dropdown-menu-footer {
        margin-top: 0;
        @extend %offcanvas-footer-down-#{$category-dropdown-mobile-break};
      }

      // -- open state
      &.show {
        @extend %offcanvas-open-down-#{$category-dropdown-mobile-break};

        .dropdown-menu-content {
          @extend %offcanvas-content-open-down-#{$category-dropdown-mobile-break};
        }
      }

    }
  }
}


