.teaser-block{
  .teaser-block-preview {
    max-height: 20rem;
    overflow: hidden;

    position: relative;

    // -- toggle
    .teaser-block-toggle{
      padding: 3rem 0 0 0;

      @include gradient-y(rgba($body-bg, 0), $body-bg);

      opacity: 1;
      pointer-events: auto;

      position:absolute;
      bottom:0;
      left:0;
      right:0;

      > button.btn {
        padding: 0;
      }
    }

    &.not-toggleable {
      .teaser-block-toggle {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  // -- modal
  .teaser-block-modal {
    @extend %modal-wrapper;


    .teaser-block-modal-inner {
      @extend %modal-inner;
      @extend %modal-inner-width-md;
    }

    .teaser-block-modal-content {
      @extend %modal-content;
    }

    &.show {
      @extend %modal-open;
    }

    .teaser-block-modal-header {
      @extend %modal-header;
    }

    .teaser-block-modal-body {
      @extend %modal-body;
    }
  }
}