.content-block-content-slider {
  .content-slider-item {

    position: relative;

    .content-slider-image,
    .content-slider-video {
      @include media-breakpoint-up(md) {
        > div {
          min-height: $content-slider-min-height;
        }
      }
    }

    .content-slider-content {

      position:absolute;
      top: 50%;
      left:0;
      right:0;

      transform: translateY(-50%);

      > .content-slider-container {
        @include make-container();
        @include make-container-max-widths();
      }

      .content-slider-box {
        @include get-element-shadow('slider-content-box');
        background-color: $content-slider-box-bg;

        @include border-radius($content-slider-box-border-radius);
        @include spacing-generator($content-slider-box-paddings, 'around', 'padding');

        h1.content-slider-box-title {
          @include font-size-generator($content-slider-box-title-sizes);
        }

        .content-slider-box-text {
          @include font-size-generator($content-slider-box-font-sizes);
        }
      }
    }

  }
}