/**
 * SCSS definition for discount elements
 */

%discount-base {
  .discount-wrapper--inner {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    font-size: $font-size-xs;
  }
}

.discount-wrapper {
  @extend %discount-base;
}