/**
 * SCSS definition for discount elements
 */

%discount-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;

  padding: $badge-padding-y $badge-pill-padding-x;

  @include border-radius($badge-pill-border-radius);

  background-color: $hr-border-color;

  .price {
    position: relative;

    &:after {
      content:'';
      position: absolute;
      display: block;

      width: 110%;
      border-top: 2px solid $danger;

      left:50%;
      top: 50%;

      transform: translate(-50%, -50%) rotate(-20deg);
    }
  }

  .discount {
    font-weight: $font-weight-bold;
    color: $danger;
  }
}

%discount-base {
  hr {
    display: none;
  }

  .discount-wrapper--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: .25rem;
    font-size: $font-size-xs;

    .discount-label {
      @extend %discount-label;
    }
  }
}

// -- create discount border mixin because we need it in some responsive functions with @content mixins.
@mixin discount-border-set-bg($bg: $card-bg) {
  .discount-wrapper--inner {
    background-color: $bg;
  }
}

@mixin discount-border {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  // -- set border on position 50% top in background
  hr {
    position: absolute;
    margin:0;

    top: 50%;
    left: 0;
    right:0;
  }

  .discount-wrapper--inner {
    padding-left: .25rem;
    padding-right: .25rem;

    position: relative;
    z-index: 2; // set it on top of background border..

    // -- using mixin for this part cuz background color of various elements can be different. To avoid bugs we redefine it in various elements by variables of them.
    @include discount-border-set-bg($card-bg);
  }
}

%discount-border {
  @include discount-border();
}

.discount-wrapper {
  @extend %discount-base;

  &.discount-wrapper--border {
    @include discount-border();
  }
}