.content-block.content-block-list-filter {

  .list-filter {
    border-radius: $filter-border-radius;
    background-color: $filter-bg;
    padding: $filter-spacer-x;

    // -- border only if not 0
    @if ( $filter-border-width != 0 ) {
      border: $filter-border-width solid $filter-border-color;
    }

    // -- filter boxes
    .list-filter-boxes {

      .list-filter-box {

        // -- category definition, board-type definition, transport-type definition
        &.category-tree,
        &.board-type,
        &.transport-type {
          .form-check {
            @extend %custom-checkbox;

            + .form-check {
              margin-top: $custom-checkbox-spacer;
            }
          }
        }

        + .list-filter-box {
          padding-top: $filter-spacer-y;

          @if ( $filter-box-divider ) {
            margin-top: $filter-spacer-y;
            border-top: $filter-box-divider-width solid $filter-box-divider-color;
          }
        }
      }
    }
  }

  // -- mobile view
  @if  ( $filter-mobile-break != null ) {
    @include media-breakpoint-down($filter-mobile-break) {
      display: none;
    }
  }
}