.content-block.content-block-list-filter {

  .list-filter {
    border-radius: $filter-border-radius;
    background-color: $filter-bg;
    padding: $filter-spacer-x;

    // -- border only if not 0
    @if ( $filter-border-width != 0 ) {
      border: $filter-border-width solid $filter-border-color;
    }

    // -- filter header
    .list-filter-header {
      > button.list-filter-close {
        display: none;
      }
    }

    // -- filter boxes
    .list-filter-boxes {

      .list-filter-box {

        // -- category definition, board-type definition, transport-type definition
        &.category-tree,
        &.board-type,
        &.transport-type {
          .form-check {
            @extend %custom-checkbox;

            + .form-check {
              margin-top: $custom-checkbox-spacer;
            }
          }
        }

        + .list-filter-box {
          padding-top: $filter-spacer-y;

          @if ( $filter-box-divider ) {
            margin-top: $filter-spacer-y;
            border-top: $filter-box-divider-width solid $filter-box-divider-color;
          }
        }
      }
    }
  }

  // -- list filter footer
  .list-filter-footer {
    padding-top: $filter-spacer-y;

    @if ( $filter-box-divider ) {
      margin-top: $filter-spacer-y;
      border-top: $filter-box-divider-width solid $filter-box-divider-color;
    }
  }

  // -- mobile view
  @if  ( $filter-mobile-break != null ) {
    @media (max-width: getMediaBreakpointDown($filter-mobile-break)) {

      // -- make mobile view by mobile-view key
      // modal
      @if ( $filter-mobile-view-type == 'modal' or $filter-mobile-view-type == 'modal-fullscreen' ) {
        @include modal-wrapper();

        @if ( $filter-mobile-view-type == 'modal-fullscreen' ) {
          @include modal-wrapper-fullscreen();
        }

        > form {
          @include modal-inner();
        }

        .list-filter {
          padding: 0;
          @include modal-content();

          @if ( $filter-mobile-view-type == 'modal-fullscreen' ) {
            @include modal-content-fullscreen();
          }
        }

        &.is--open {
          @include modal-open();
        }

        .list-filter-header {
          @include modal-header();
        }

        .list-filter-boxes {
          @include modal-body();
        }

        .list-filter-footer {
          margin-top: 0;
          @include modal-footer();
        }
      }

      // apple like
      @if ( $filter-mobile-view-type == 'apple-like' ) {
        border: green 10px solid;

      }

      // offcanvas
      @if ( $filter-mobile-view-type == 'offcanvas' ) {
        border: yellow 10px solid;
      }
    }
  }
}

// @todo: decline it outside here, ans basic element
#wpadminbar {
  z-index: ($zindex-modal-backdrop - 1) !important;
}