/**
 * Defines look of month teaser
 */
.teaser.month-teaser {
  @include border-radius($teaser-border-radius);
  background-color: $teaser-bg;
  border: $teaser-border-width solid $teaser-border-color;

  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $grid-gutter-width;
  }

  // -- make it 2 column
  > a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @extend %media-hover-scale;

    div.month-teaser-image {
      flex: 0 0 30%;
      width: 100%;
      max-width: 30%;

      @if $teaser-border-width != 0 {
          margin-left: -$teaser-border-width;
          margin-top: -$teaser-border-width;
          margin-bottom: -$teaser-border-width;
      }

      @extend %media-cover;

      > img {
        @include border-left-radius($teaser-border-radius);
      }
    }

    div.month-teaser-title {
      flex: 1;

      padding: $teaser-spacer-y $teaser-spacer-x;
      display: flex;
      flex-direction: row;

      gap: .5rem;

      justify-content: space-between;
      align-items: center;
    }
  }
}