/**
 * File defines usable mixins for modal elements + transitions
 * Used for various elements for mobile views / UI|UX
 */

@mixin modal-open {

}

@mixin modal-header {
  display: flex;
  align-items: flex-start; // so the close btn always stays on the upper right corner
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($modal-content-border-radius);

  > *:not(button) {
    margin-bottom:0;
  }

  > button {
    @include button-reset();

    padding: $modal-header-padding;
    // auto on the left force icon to the right even when there is no .modal-title
    margin: (-$modal-header-padding-y) (-$modal-header-padding-x) (-$modal-header-padding-y) auto;
  }
}

@mixin modal-body {

}

@mixin modal-wrapper {

}

@mixin modal-inner {

}

@mixin modal-footer {

}