.product-calendar-wrap {
  padding: .5rem;
  @include border-radius($border-radius);
  background-color: $body-bg-highlight;

  .product-calendar-group-items {

    /**
     * some defaults
     */

    .product-calendar-group-title,
    .product-calendar-items-title,
    .product-calendar-group-item {
      padding-left: $travel-card-spacer-x;
      padding-right: $travel-card-spacer-x;
    }

    /**
     * Items header
     */
    .product-calendar-items-title {
      padding-bottom: ($travel-card-spacer-x / 2);
    }

    /**
     * Group title
     */

    .product-calendar-group-title {
      h3 {
        padding: ($travel-card-spacer-x / 2) 0;
        margin-bottom: 0;
      }
    }

    .product-calendar-group-item-product + .product-calendar-group-title {
      h3 {
        padding-top: $travel-card-spacer-x;
      }
    }

    /**
     * Group item
     */

    .product-calendar-group-item {
      @include border-radius($travel-card-border-radius);
      background-color: $travel-card-bg;
      padding-top: $travel-card-spacer-x;
      padding-bottom: $travel-card-spacer-x;

      // -- price
      .price {
        display: flex;
        align-items: center;
        flex-direction: row;

        .discount-wrapper + small {
          padding-left: .75rem;
        }

        @include media-breakpoint-up(lg) {
          justify-content: end;
        }
      }

      // -- arrow wrapper
      .arrow--wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .circle {
          margin-right: .25rem;
        }

        svg {
          width: $font-size-lg;
          height: $font-size-lg;
          margin-right: .5rem;

          transition: transform $animation-speed-default;
          transform-origin: center;
        }
      }

      &.is-active {
        @include border-bottom-radius(0);

        .arrow--wrapper {
          svg {
            transform: scaleY(-1);
          }
        }
      }
    }

    // spacing
    .product-calendar-group-item-product + .product-calendar-group-item {
      margin-top: ($travel-card-spacer-x / 3);
    }

    /**
     * Group Product item
     */

    .product-calendar-group-item-product {
      .product-calendar-group-item--product {
        display: none;

        &.is-open {
          display: block;
        }
      }
    }
  }
}