.layout-block.layout-block-search-header {
  position: relative;
  background-image: url(../img/slide-1-mobile.jpg);
  background-position: center;
  background-size: cover;

  @include media-breakpoint-up(md) {
    background-image: url(../img/slide-1.jpg);
  }

  .layout-block-search-header--search {
    z-index: 10;


  }
}
