.teaser.team-teaser {
  @extend .text-center;

  .teaser-image {
  }

  .teaser-body {
    padding: $wp-teaser-spacer-x;
    display: flex;
    flex-direction: column;
    gap: $image-teaser-spacer-y;

    h1 {
      margin: 0;

      small {
        display: block;
        clear: both;
      }
    }

    @include border-radius($wp-teaser-border-radius);
    border-color: $wp-teaser-border-color;
    border-style: solid;
    border-width: $wp-teaser-border-width;
    background-color: $wp-teaser-bg;

    @include get-element-shadow('wp-teaser');
  }
}