.card-travel {

  display: flex;
  background-color: $travel-card-bg;
  border: $travel-card-border-width solid $travel-card-border-color;

  // -- set global element border radius
  @include border-radius($travel-card-border-radius);

  /**
   * define flex settings here
   * they're used for "travel-box-break" into stripe on small devices
   */

  @if $travel-box-use-break {
    flex-direction: row;
    gap: 1rem;

    .card-image {
      flex: 0 0 ((100% / 12) * 5); // 5 of 12
      width: 100%;
      max-width: ((100% / 12) * 5);

      // -- set offset left top bottom to make image lay above border if border width not 0
      @if $travel-card-border-width != 0 {
        > a {
          margin-left: -$travel-card-border-width;
          margin-top: -$travel-card-border-width;
          margin-bottom: -$travel-card-border-width;
        }
      }

      // -- set border-radius for stripe teaser element
      img {
        @include border-top-right-radius(0);
        @include border-top-left-radius($travel-card-border-radius);
        @include border-bottom-left-radius($travel-card-border-radius);
        @include border-bottom-right-radius(0);
      }
    }

    .card-body {
      flex: 0 0 ((100% / 12) * 7); // 5 of 12
      width: 100%;
      max-width: ((100% / 12) * 7);

      .card-body--bottom {
        .btn.btn-primary {
          display: inline-block;
          margin-top: 0;
        }
      }
    }
  }

  // -- break teaser into common teaser
  @include get-custom-breakpoint($travel-box-break) {
    flex-direction: column;
    gap: 0;

    // -- reset flex for normal teaser
    .card-image {
      flex: 0;
      width: 100%;
      max-width: 100%;

      // -- set offset left top bottom to make image lay above border if border width not 0
      @if $travel-card-border-width != 0 {
        > a {
          margin-left: -$travel-card-border-width;
          margin-top: -$travel-card-border-width;
          margin-bottom: 0;
          margin-right: -$travel-card-border-width;
        }
      }

      // -- set border-radius for stripe teaser element
      img {
        @include border-top-right-radius($travel-card-border-radius);
        @include border-top-left-radius($travel-card-border-radius);
        @include border-bottom-left-radius(0);
        @include border-bottom-right-radius(0);
      }
    }

    .card-body {
      flex: 1;
      width: 100%;
      max-width: 100%;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      justify-content: space-between;

      .card-body--bottom {
        .btn.btn-primary {
          display: block;
          margin-top: $travel-card-spacer-y;
        }
      }
    }

    .discount-wrapper {
      @include discount-border();
    }
  }

  // -- image
  .card-image {
    position: relative;

    // -- set card badge settings
    .card-badge {
      position:absolute;
      top: $travel-card-spacer-x;
      left: $travel-card-spacer-x;

      line-height: 1;
      padding: $badge-padding-y $badge-padding-x;

      @include border-radius($badge-border-radius);

      // -- if show as pill
      @if $travel-card-badge-pill {
        padding: $badge-padding-y $badge-pill-padding-x;
        @include border-radius($badge-pill-border-radius);
      }

      font: {
        size: $badge-font-size;
        weight: $badge-font-weight;
      }

      background-color: $gray-700;
      color: #fff;

      &--new {
        background-color: $danger; // @todo: maybe green better? Cuz read is danger, in every shop new == green
      }
    }

    // -- positioning add to wishlist
    .add-to-wishlist {
      position: absolute;

      // -- simple calculation to position in "border" of contents of card
      // -- this makes the aligment of icon inside similar to the size of $travel-card-spacer-x
      top: ($travel-card-spacer-x - (($add-to-wishlist-size - $add-to-wishlist-icon-size) / 2 ));
      right: ($travel-card-spacer-x - (($add-to-wishlist-size - $add-to-wishlist-icon-size) / 2 ));

      z-index: 2;

      // -- color settings on image
      @extend %add-to-wishlist-on-image-color;
    }

    > a {
      display: block;
    }
  }

  // -- body
  .card-body {
    padding: $travel-card-spacer-x;

    @include font-size-generator($travel-card-body-sizes);

    h1.card-title {
      // -- set font sizes
      @include font-size-generator($travel-card-title-sizes);

      color: $travel-card-title-color;
      margin: 0 0 $travel-card-spacer-y 0;

      // set link settings for better optik + reading / usage
      > a {
        color: inherit;
        transition: color .3s;
        text-decoration: none;

        &:hover {
          color: $travel-card-title-hover-color;
        }

        &:active, &:focus {
          color: $travel-card-title-active-color;
        }

        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}