

$teaser-title-sizes: (
        null: 1rem, // 16px
        lg: 1.125rem // 18px
) !default;

.card-travel-wrapper {

  .card.card-travel {

    /**
     * define flex settings here
     * they're used for "travel-box-break" into stripe on small devices
     */

    @if $travel-box-use-break {
      background-color: green;
    }

    // -- break teaser into common teaser
    @include get-custom-breakpoint($travel-box-break) {
      background: red !important;
    }

    h1.card-title {
      @include font-size-generator($teaser-title-sizes);
    }
  }

}