/**
 * File deifnes style of wishlist dropdown and the items inside.
 * + handling of "view-type"
 */

.dropdown-menu.dropdown-menu-wishlist {

  // -- make wishlsit dropdown right aligned
  left: auto;
  right: 0 !important;
  transform: none !important;

  // -- set widht/min-width for better optic
  width: 100%;
  min-width: 16rem;
  padding: 1rem; // default padding

  // -- wishlist items

}