/**
 * File deifnes style of wishlist dropdown and the items inside.
 * + handling of "view-type"
 */

.dropdown-menu.dropdown-menu-wishlist {

  // -- make wishlsit dropdown right aligned
  left: auto !important;
  right: ($grid-gutter-width / 6) !important;
  top: 100% !important;
  transform: none !important;


  @include get-custom-breakpoint($header-reduce-paddings) {
    right: ($grid-gutter-width / 2) !important;
  }

  // -- set widht/min-width for better optic
  width: 100%;
  min-width: 20rem;
  padding: 1rem; // default padding

  // -- wishlist items
  #wishlist-result {
    .wishlist-item{

      + .wishlist-item {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        margin-top: .5rem;
        padding-top: .5rem;

        border-top: $travel-card-border-width solid $travel-card-border-color;
      }
    }
  }
}