%add-to-wishlist-color {

  color: $add-to-wishlist-color;

  &:hover {
    color: $add-to-wishlist-hover-color;
  }

  &:active, &:focus, &.active {
    color: $add-to-wishlist-active-color;
  }

}

%add-to-wishlist-on-image-color {

  color: $add-to-wishlist-on-image-color;

  &:hover {
    color: $add-to-wishlist-on-image-hover-color;
  }

  &:active, &:focus, &.active {
    color: $add-to-wishlist-on-image-active-color;
  }

}

.add-to-wishlist {
  // -- default position: relative
  position: relative;
  cursor: pointer;

  transition: color .3s;

  svg {
    pointer-events: none !important;

    &.heart-filled {
      @extend .d-none;
    }
  }

  &.active {
    svg {
      &.heart-filled {
        @extend .d-block;
      }

      &.heart-stroke {
        @extend .d-none;
      }
    }
  }

  // set sizes ( default )
  // 32px widht/hight cuz touch item
  width: 2rem;
  height: 2rem;

  // @todo: maybe add icon sizes as variables + base elements?
  svg {
    width: 1.25rem;
    height: 1.25rem;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  @extend %add-to-wishlist-color;
}