/**
 * File deifnes style of wishlist dropdown and the items inside.
 * + handling of "view-type"
 */

.dropdown-menu.dropdown-menu-wishlist {

  // -- make wishlsit dropdown right aligned
  left: auto !important;
  right: ($grid-gutter-width / 6) !important;
  top: 100% !important;
  transform: none !important;


  @include get-custom-breakpoint($header-reduce-paddings) {
    right: ($grid-gutter-width / 2) !important;
  }

  // -- set widht/min-width for better optic
  width: 100%;
  min-width: 16rem;
  padding: 1rem; // default padding

  // -- wishlist items

}