@if ( $footer-use-default == true ) {
  footer.footer-main {
    background-color: $footer-bg;
    color: $footer-color;
    line-height: $footer-line-height;

    @include font-size-generator($footer-font-sizes);

    // -- different spacings for paragraphs
    p {
      @include spacing-generator($footer-paragraph-margins, 'bottom', 'margin');
    }

    // -- footer trust items
    @if ( $footer-use-trust == true ) {
      .footer-main--trust {
        @include spacing-generator($footer-paddings-y, 'top');
        background-color: $footer-trust-bg;

        .trust-item{
          @include spacing-generator($footer-paddings-y, 'bottom');
          @include font-size-generator($footer-trust-item-font-sizes);

          // -- trust item settings
          text-align: center;
          color: $footer-trust-item-color;


          .trust-item--icon {
            @include border-radius($footer-trust-item-icon-border-radius);
            @include spacing-generator($footer-trust-item-icon-max-width, 'around', 'padding');

            max-width: $footer-trust-item-icon-max-width;
            color: $footer-trust-item-icon-color;

            @if ( $footer-trust-item-icon-bg == null ) {
              background-color: $footer-trust-item-icon-bg;
              padding-bottom: 0 !important;
            }
          }

          .trust-item--title {
            margin: 1rem auto 0 auto;
          }
        }
      }
    }

    // -- footer boxes
    .footer-main--boxes {
      @include spacing-generator($footer-paddings-y, 'top');

      .col-footer-box {
        @include spacing-generator($footer-paddings-y, 'bottom');
      }

      .h5 {
        color: $footer-heading-color;
        margin-bottom: 0;

        @include spacing-generator($footer-headings-bottom-margins, 'bottom', 'padding');
      }

      // -- nav
      .nav.flex-column {

        @include spacing-generator($footer-nav-link-spacers, 'around', 'gap');

        a {
          color: $footer-nav-link-color;
          transition: color .3s;
          text-decoration: none;

          &:hover {
            color: $footer-nav-link-hover-color;
            text-decoration: none;
          }

          &:active, &:hover {
            color: $footer-nav-link-active-color;
            text-decoration: underline;
          }
        }
      }
    }

    // -- footer meta
    .footer-main--meta {
      @include spacing-generator($footer-paddings-y, 'bottom');

      // -- nav
      .nav.flex-row {
        gap: $footer-meta-nav-link-spacer;

        @include font-size-generator($footer-meta-font-sizes);

        a {
          color: $footer-meta-nav-link-color;
          transition: color .3s;
          text-decoration: none;

          &:hover {
            color: $footer-meta-nav-link-hover-color;
            text-decoration: none;
          }

          &:active, &:hover {
            color: $footer-meta-nav-link-active-color;
            text-decoration: underline;
          }
        }
      }
    }

  }
}