/**
 * Navigation
 * -------------------------
 * based on navbar variables
 */

nav#navbar {
  ul.navbar-nav {
    align-items: baseline;

    > li.nav-item {
      > a.nav-link {
        color: $navbar-light-color;
        transition: color .3s;
        text-decoration: none;

        font: {
          weight: $navbar-font-weight;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: .25rem;

        &.dropdown-toggle {
          svg {
            width: $font-size-base;
            height: $font-size-base;

            transition: transform .3s;
          }
        }

        &:hover, &:focus, &:active {
          text-decoration: none;
          color: $navbar-light-hover-color;
        }
      }

      // -- show state
      &.show {
        > a.nav-link.dropdown-toggle {
          svg {
            transform: scaleY(-1);
          }
        }
      }

      // -- active state
      &.active > a.nav-link {
        color: $navbar-light-active-color;

        font: {
          weight: $navbar-active-font-weight;
        }
      }
    }
  }
}