.content-main.content-main--posts {
  .blog-entry-single {
    .blog-list-entry {
      // -- header
      .blog-list-entry-header {
        @extend %blog-list-entry-header;
        @extend %spacing-bottom;

        h1.blog-list-entry-title{
          margin: 0;
        }

        // -- details
        .blog-list-entry-details {
          @extend %blog-entry-details;
        }
      }

      // -- thumbnail
      .blog-list-entry-thumbnail {
        @extend %spacing-bottom;
      }

      // -- body
      .blog-list-entry-body {
        .blog-list-entry-content {
          .wp-block-image {
            img {
              @extend %responsive-image;
            }

            figcaption {
              font-size: $font-size-sm;
              font-style: italic;
            }
          }

          ul, ol {
            padding-left: 1.5rem;
          }
        }
      }

      // -- crosslinks
      .blog-list-entry-crosslinks {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        @extend %spacing-top;

        > div {
          .badge {
            margin-left: .5rem;
            margin-right: .125rem;

            + .badge {
              margin-left: 0;
            }
          }
        }
      }

      // -- related
      &.blog-list-entry-related {
        .related-posts {

          .row {
            > .col-12 {
              + .col-12 {
                margin-top: 1rem;

                @include media-breakpoint-up(md) {
                  margin-top: 0;
                }
              }
            }
          }

          .post-item {

            > .row {
              align-items: center;

              .col-4 {
                padding-right: 0;
              }

              @include media-breakpoint-up(md) {
                align-items: start;

                .col-4 {
                  padding-right: ($grid-gutter-width / 2);
                }
              }
            }

            // -- thumbnail
            .blog-list-entry-thumbnail {
              margin-bottom: 0;
            }

            // -- title
            .blog-list-entry-title {
              @extend %card-title-settings;

              margin: 0 0 .5rem 0;

              @include media-breakpoint-up(md) {
                margin: $card-spacer-x 0 .5rem 0;
              }
            }
          }
        }
      }
      // -- comments
      &.blog-list-entry-comments {
        form.comment-form {
          > p {
            @extend .form-group;

            input[type='text'],
            input[type='email'],
            textarea {
              @extend .form-control;
            }

            &:not(.comment-form-cookies-consent):not(.form-submit) {
              display: flex;
              flex-direction: column;
              gap: .5rem;

              > label {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      // -- post navigation
      &.blog-list-entry-postnav {
        .post-navigation {
          .nav-links {
            @include make-row();

            > div {
              @include make-col-ready();
              @include make-col(12);

              @include media-breakpoint-up(md) {
                @include make-col(6);
              }
            }
          }
        }
      }

      + .blog-list-entry {
        @extend %spacing-top;
        @extend %spacing-divider-top;
      }
    }
  }
}