.content-main.content-main--posts {
  .blog-entry-single {
    .blog-list-entry {
      // -- header
      .blog-list-entry-header {
        @extend %blog-list-entry-header;

        h1.blog-list-entry-title{
          margin: 0;
        }

        // -- details
        .blog-list-entry-details {
          @extend %blog-entry-details;
        }
      }

      // -- related
      &.blog-list-entry-related {
        .related-posts {

          .row {
            > .col-12 {
              + .col-12 {
                margin-top: 1rem;

                @include media-breakpoint-up(md) {
                  margin-top: 0;
                }
              }
            }
          }

          .post-item {

            > .row {
              align-items: center;

              .col-4 {
                padding-right: 0;
              }

              @include media-breakpoint-up(md) {
                align-items: start;

                .col-4 {
                  padding-right: ($grid-gutter-width / 2);
                }
              }
            }

            .blog-list-entry-title {
              @extend %card-title-settings;

              margin: 0 0 .5rem 0;

              @include media-breakpoint-up(md) {
                margin: $card-spacer-x 0 .5rem 0;
              }
            }
          }
        }
      }
      // -- comments
      &.blog-list-entry-comments {
        form.comment-form {
          > p {
            @extend .form-group;

            input[type='text'],
            input[type='email'],
            textarea {
              @extend .form-control;
            }

            &:not(.comment-form-cookies-consent):not(.form-submit) {
              display: flex;
              flex-direction: column;
              gap: .5rem;

              > label {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}